root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# --- 后端 Java ---
[*.{java,kt,kts,groovy,xml,xsd}]
indent_style = tab
indent_size = 4
continuation_indent_size = 8

# --- 前端 TypeScript/Vue ---
[*.{ts,tsx,vue,js,jsx,json,yml,yaml,css,scss,html,md}]
indent_style = space
indent_size = 2
max_line_length = 100
quote_type = single

[*.md]
trim_trailing_whitespace = false

[*.{cmd,bat}]
end_of_line = crlf
